[2020-08-07 17:46] zkrolikowski-vl opened #4 "Create tests for the stubs"
Design tests that would verify the stubs in real-life use cases. Possible approach is using
`TypeCheckSuite` from `mypy.test.testcheck`.

[2020-11-18 08:06] zkrolikowski-vl opened #6 "Cover Series class with type stubs"
- Create type stubs for the Series class

- Create snippets testing the stubs in common use-cases

[2020-11-24 09:03] zkrolikowski-vl opened #7 "Consider using typing extensions for older Python versions"
Currently the type annotation declarations differ based on the Python version. This can be possibly avoided by using following methods:

- `from __future__ import annotations` as demonstrated in this issue: https://github.com/python/cpython/pull/4390

Consider possible issues.

[2020-11-25 15:56] #4 closed, assigned to zkrolikowski-vl

[2021-01-20 05:42] jinwuxia opened #9 "about the code version"
pandas project has several branches or versions.
pandas-stubs only have one branch. My question is, which version of pandas source code does pandas-stubs corresponds to?

Thanks.

[2021-01-25 17:44] zkrolikowski-vl commented on #9
Currently this corresponds to Pandas version `1.0.4`. Versions for to newer Pandas releases will be added in the future, each on appropriate branch and with a version tag.

Although the differences between the API's aren't substantial and you can still try using this project for a newer Pandas version e.g.  1.1 and 1.2, you might run into some minor issues, namely when using new features.

Thanks

[2021-01-25 17:53] zkrolikowski-vl opened #10 "Release the package to Conda Forge"
This task involves creating a necessary step in `.circleci/config.yml`, and creating an account on conda-forge.

[2021-01-29 18:13] zkrolikowski-vl opened #11 "Add CI status badges to README"

[2021-01-30 03:45] jinwuxia commented on #9
@zkrolikowski-vl
Thanks for your quick reply.
It really helps me a lot!

[2021-01-30 03:45] #9 closed

[2021-02-02 08:33] hpomorski commented on #10
I'l be looking at it.

[2021-02-02 16:07] hpomorski commented on #10
Opened PR #12 in order to satisfy requirements for the conda-forge packaging.

[2021-02-03 17:51] #11 closed

[2021-02-03 18:06] zkrolikowski-vl opened #15 "Create a release versioning system parallel to Pandas"
We'd like to have separate branches for each Pandas "major.minor" version starting from 1.0: Namely 1.0, 1.1 and 1.2. See [PEP440](https://www.python.org/dev/peps/pep-0440/). Maintaining a separate version for each minor version is intractable.

This requires introducing code changes to individual API versions. Without this the versioning doesn't bring any benefit.

[2021-02-03 18:08] zkrolikowski-vl opened #16 "Introduce bumpversion to CI"
bumpversion should increment the 4'th version part on every commit to master, before the release starts.

[2021-02-04 14:59] hpomorski commented on #10
Package is available on conda forge: https://anaconda.org/conda-forge/pandas-stubs

[2021-02-05 17:04] #10 closed

[2021-02-05 17:05] zkrolikowski-vl commented on #6
Somewhat complete stubs along with tests are now on master

[2021-02-05 17:05] #6 closed

[2021-02-17 12:18] bzoracler opened #20 "`DataFrame.set_index` stub return hint inconsistent with method definition"
Return hint of the stub is `DataFrame`:

https://github.com/VirtusLab/pandas-stubs/blob/425b0bf4f3e31115aaa8c384024d3b928628bef2/third_party/3/pandas/core/frame.pyi#L134

Based on the return value of Pandas `1.0.x` API, the return hint should be `Optional[DataFrame]`:

https://github.com/pandas-dev/pandas/blob/1.0.x/pandas/core/frame.py#L4366-L4367

Note that this method's docstring in the `1.0.x`

[2021-02-17 16:47] zkrolikowski-vl commented on #20
Thanks.

I'll add some tests snippets for this and some other methods from [pandas-dev/pandas@b110046](https://github.com/pandas-dev/pandas/commit/b110046099014a63217042478393e715a083604b), and release a new version.

If you run into any more problems you're more than welcome to propose any changes.

[2021-02-18 07:33] zkrolikowski-vl commented on #20
This issue is fixed in version 1.0.4.5.

[2021-02-18 07:33] #20 closed

[2021-02-23 08:07] bzoracler opened #23 "`DataFrame.__getitem__(self, key: Sequence[Column])` stub definition"
I believe that there are two issues with the overload `DataFrame.__getitem__(self, key: Sequence[Column])`. However, I don't really know the intention behind this hint (specifically what `Sequence[Column]` is supposed to be) - so I hope some light could be shed on this stub. My interpretation is that the intended meaning of `Sequence[Column]` is something like `typing.List[Column]` and **not** `ty

[2021-02-24 17:56] zkrolikowski-vl commented on #23
Thanks for finding this. I was able to work out some better types that match real use. I've also added tests. Please review:
https://github.com/VirtusLab/pandas-stubs/pull/24

There's still an slight issue when I run mypy locally. I've tried this declaration:
[code]
 however then I get this error from mypy:
[code]
it says that `Column` (`Union[int,str]`) overlaps `np.ndarray` which is absolutely l

[2021-02-26 07:48] #23 closed

[2021-03-04 08:14] dycw opened #26 "Question: how to use with pyright?"
Hi, I write Python with:

- a `src` layout for my project, and
- `poetry` with `virtualenvs.in-project`.

Thus, `pyright` is generally happy with my `pyrightconfig.json` as follows:

[code]

However, I am struggling to get anything `pandas` related type-checked. I have tried 2 solutions:

1. As a submodule:

[code]

and adding a symlink:

[code]

My guess is that `pyright` is expecting `stubs/thir

[2021-03-12 08:44] joannasendorek opened #27 "Updating stubs to pandas 1.2.3 version"

[2021-03-12 09:58] daviskirk opened #28 "Timestamp does not have a signature"
The current type annotations for `pandas.Timestamp` (https://github.com/VirtusLab/pandas-stubs/blob/master/third_party/3/pandas/_libs/tslibs/timestamps.pyi) does not hae a signature, where in reality it does: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Timestamp.html

This leads to mypy complaining with the error:

[code]

for code like:

[code]

Same problem for Timedelta:

[2021-03-12 12:20] zkrolikowski-vl commented on #28
Fixing that. I'll let you know when it's ready for review.

[2021-03-12 14:31] zkrolikowski-vl commented on #28
Ok. There was a lot of declarations missing so I've tried my best to get them back in.

What's most important is your problem. Do the following test cases cover it: https://github.com/VirtusLab/pandas-stubs/blob/2677dcd92617a7d55bb27bead7922341dd4341d7/tests/snippets/test_timestamp.py

[2021-03-12 15:13] daviskirk commented on #28
Commented here:

https://github.com/VirtusLab/pandas-stubs/pull/30/files#r593245488

[2021-03-12 15:16] daviskirk commented on #28
A general Question for the future: Are these types manually edited or are they autogenerated in some way?
Or asked a different way: If I find other stuff can I should just submit a pull request with the manual changes or is there a magic  generator script that makes that unnecessary?

[2021-03-12 15:40] zkrolikowski-vl commented on #28
Initial version was generated using `stubgen` but only about 10-20% of the code had annotations.

So unfortunately most of the work is manual. There's no magic tool. :/

This is a special case because stubgen has created at least an untyped constructor but that code was mistakenly removed.

[2021-03-15 07:09] zkrolikowski-vl commented on #28
Merged the PR and released a new package with the fix.

[2021-03-15 07:09] #28 closed

[2021-03-23 18:11] yobiscus opened #31 "DataFrame methods should return DataFrame *or* None rather than Optional[DataFrame]"
## Problem summary:

I noticed a few methods that are returning Optional[DataFrame], e.g.:

[code]

from [pandas/core/frame.pyi](https://github.com/VirtusLab/pandas-stubs/blob/master/third_party/3/pandas/core/frame.pyi).

It appears to me that these methods may return None because when `inplace=True`, a dataframe is not returned, and so _most of the time_, these methods will actually return a data

[2021-03-24 07:29] zkrolikowski-vl commented on #31
Yes, your assumptions are correct and using the "inplace" methods is difficult.

A PR would be much appreciated, or at least a valid approach to dealing with this. One probable solution would be declaring these overloaded argument types as `Literal[True]` and `Literal[False]`.

[2021-04-13 18:02] zkrolikowski-vl commented on #31
@yobiscus Here's a PR for your consideration.

This solved the issue but there's a side effect: the `inplace` parameter is now keyword only due to mypy limitations on overloading with parent class methods.

[2021-04-14 13:51] zkrolikowski-vl commented on #7
Fixed by: https://github.com/VirtusLab/pandas-stubs/pull/32

[2021-04-14 13:51] #7 closed

[2021-04-14 13:52] zkrolikowski-vl commented on #31
Fixed by: https://github.com/VirtusLab/pandas-stubs/pull/32

[2021-04-14 13:52] #31 closed

[2021-04-14 13:58] yobiscus commented on #31
Great! Thank you @zkrolikowski-vl. I started working on a PR for this but unfortunately got side-tracked. I noticed limitations similar to what you mention here, especially for methods that support **kwargs. I'm looking forward to picking up these changes.

[2021-04-16 15:31] #26 closed

[2021-05-06 09:44] headtr1ck opened #34 "pd.read_excel arg "sheet_name" accepts only "int""
Pandas `read_excel` argument sheet_name supports "str, int, list, or None" according to the docu.
https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html

The stubs only accept int.
This should be replaced by `Optional[Union[str, int, Sequence]]`, or simply `Optional[Any]` as often used here.

[2021-05-06 09:54] zkrolikowski-vl commented on #34
Hi Mick,

here's a PR for your consideration: https://github.com/VirtusLab/pandas-stubs/pull/35

[2021-05-06 10:03] headtr1ck commented on #34
Thats the fastest PR I have ever witnessed :1st_place_medal: amazing.

[2021-05-06 10:23] #34 closed

[2021-05-06 15:11] derhintze opened #38 "Wrong type stub for pandas.to_datetime()"
We use the datetime conversion function of pandas like:

[code]

However, having the stubs installed, mypy complains that

[code]

The pandas docs list, after some strings, also "Timestamp convertible" (and passing in that `pd.Timestamp` for `origin` actually works at runtime): https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html

Positive check: casting the `pd.Times

[2021-05-06 15:37] zkrolikowski-vl commented on #38
Thanks @derhintze. We'll have a fix ready soon.

[2021-05-07 07:38] headtr1ck opened #39 "os.PathLike not compatible with pandas._typing.FilePathOrBuffer"
This issue occurs when using `df.to_csv(some_path_like)` where `some_path_like` is typed as `os.PathLike`.

minimal example:
[code]

When using this, I get the mypy error: `error: Argument 1 to "to_csv" of "NDFrame" has incompatible type "_PathLike[Any]"; expected "Union[str, Path, IO[str], None]"`

You use `Optional[FilePathOrBuffer[AnyStr]]=...`, so I don't actually know if this is an issue of p

[2021-05-07 08:25] joannasendorek commented on #38
Solved by: https://github.com/VirtusLab/pandas-stubs/pull/40

[2021-05-07 08:25] #38 closed

[2021-05-07 10:28] joannasendorek commented on #39
I checked with the pandas and it seems this part was changed - and our stubs had this outdated - https://github.com/pandas-dev/pandas/commit/c4c1dc3563ec95da1e700f96c9848be874699818

Following current typing from pandas, I changed our code: https://github.com/VirtusLab/pandas-stubs/pull/41/files
This however will lead to changing your signature to:
[code]
, because os.PathLike seems to be a generi

[2021-05-07 13:29] headtr1ck commented on #39
Never realized that os.PathLike is generic. We will adopt to this.
Looks good to me :)

[2021-05-10 06:55] #39 closed

[2021-06-10 04:46] janosh opened #44 "pd.concat(dict) claims incompatible type"
Just tried out `pandas-stubs` for the first time and got a type error on a line that works as intended.

[code]

Is this an issue with the type declaration or am I misusing `pd.concat`?

[2021-06-10 06:56] zkrolikowski-vl commented on #44
Hi @janosh

you're using `pd.concat` correctly and type declaration must be fixed, as it is coherent with the pandas documentation but it doesn't work practically. I'll try to work this out soon and release a new version.

[2021-06-10 07:30] zkrolikowski-vl commented on #44
This seems to work, with some code duplication, but it's not clear why:
https://github.com/VirtusLab/pandas-stubs/pull/45

I'll try to work out why that is.

[2021-06-14 08:00] zkrolikowski-vl opened #47 "Create a developer guide"
It should outline all the necessary steps needed for contributing to the project

[2021-06-14 08:02] zkrolikowski-vl opened #48 "Include snippet execution as part of CI"
Right now snippets are only type checked. They should also be ran as a smoke test.

[2021-06-14 10:12] j-4 opened #49 "Series.__getitem__ claims incompatible type"
`Series.__getitem__(key)` claims incompatible type while `Series.get(key)` type checking succeeds.

Small example to trigger the bug:
`$ cat test.py`:
[code]
`$ mypy test.py`:
[code]

## Environment
[code]

Thanks for your efforts!

[2021-06-15 06:44] zkrolikowski-vl commented on #49
Hi.

Thanks for reaching out about this obvious bug. `__get_item__` seems to have a much wider interface.

Here's a PR for your consideration: https://github.com/VirtusLab/pandas-stubs/pull/50

[2021-06-15 20:52] msdrigg opened #51 "DataFrame.from_dict false positive while linting"
I am getting this error while linting on   mypy version 0.902 with python version 3.8.10

This is a false alarm because in pandas own [examples](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.from_dict.html) they have this code
[code]

The offending line in the stubs is [here](https://github.com/VirtusLab/pandas-stubs/blob/master/third_party/3/pandas/core/frame.pyi#L95)

[code]

It

[2021-06-16 08:26] joannasendorek commented on #51
Hi! Thank you for reaching to us about this issue. I reviewed the definition of `from_dict` and discovered some other problems with it. Therefore the proposed fix: https://github.com/VirtusLab/pandas-stubs/pull/52 It also contains test added.

[2021-06-16 12:02] msdrigg commented on #51
Thanks!

[2021-06-16 12:03] #51 closed

[2021-06-21 16:11] zkrolikowski-vl commented on #44
I wasn't able to isolate this issue with the boilerplate declaration syntax, but this is such a big an issue that I've decided to apply the fix.

[2021-06-21 16:18] #49 closed

[2021-06-24 07:27] janosh commented on #44
was this part of the `pandas-stubs-1.1.0.11` 3 days ago? I just updated and still getting that error.

[2021-06-24 08:14] zkrolikowski-vl commented on #44
Yes. Could you tell me which version of Python, Mypy and Pandas are you using?

[2021-06-24 08:32] janosh commented on #44
[code]

The error is occurring on [this line](https://github.com/janosh/tensorboard-reducer/blob/dcf7e36f64a213a96d6533ddbf600e1b3e3c51e7/tensorboard_reducer/write.py#L129).

[2021-06-25 20:05] aholmes opened #53 "Repository tags and releases do not reflect PyPi versions"
Hi,

I updated pandas-stubs from 1.1.0.7 to 1.1.0.11 and wanted to see what specifically changed. I came here hoping to see a tag or release, but cannot find either. It would really help with discoverability and usage efforts if the repository tag versions (at minimum, releases would be nice too) reflected release versions on PyPi/vice versa.

[2021-06-30 06:59] nanne-aben opened #54 "Type annotation for pipe()"
First of all, great project! Very happy user here :)

Now to my point: currently `pipe()` is annotated to return `Any`. This means the following doesn't result in a mypy error, even though it really should.
[code]
I think we can do better if we define `pipe()` as follows:
[code]
Now the first example throws a mypy error.

There's one edge case that I came across though: apparently it's possible to

[2021-06-30 07:28] zkrolikowski-vl commented on #54
Hi @nanne-aben. This all sounds very sensible.

You're right about allowing people passing something else other than callable. It's a bit strange that the type checker doesn't always go for the second overload when types don't match. 🤔 Anyway good work.

It would be best to cover as many of pipe definitions as possible, as long as they follow this interface. However don't feel compelled to cover a

[2021-06-30 08:13] nanne-aben commented on #54
Thanks!

I'm not sure I understand, can you elaborate?

The type checker will always go for the first one, and if that doesn't work try the second one (which in our case is more general). In fact, if you define them such that the general one comes first, mypy actually complains about that
[code]
But maybe I'm missing your point completely?

Cool, will do!

[2021-06-30 08:53] zkrolikowski-vl commented on #54
You're right. These definitions are set up correctly. Thanks :)

[2021-06-30 14:09] nanne-aben commented on #54
Here's the PR:
https://github.com/VirtusLab/pandas-stubs/pull/55

This is my first PR on github (I'm more used to gitlab), so let me know if I did something weird :p

I wrote a small test script that shows that this works as expected (all of these should raise a mypy error):
[code]

Of note, I haven't tested `third_party/3/pandas/core/common.pyi`, because I'm not sure where in pandas it's used.

F

[2021-07-01 06:45] zkrolikowski-vl commented on #53
Hi @aholmes.

Will prioritize this. Thanks for indicating that this is an issue.

[2021-07-01 13:56] zkrolikowski-vl commented on #54
Merged PR https://github.com/VirtusLab/pandas-stubs/pull/55. Thanks for contributing. :)

[2021-07-01 13:56] #54 closed

[2021-07-12 09:15] zkrolikowski-vl opened #59 "Add type annotations to the `GroupBy` class"
Class location: third_party/3/pandas/core/groupby/groupby.pyi

[2021-07-12 09:16] zkrolikowski-vl opened #60 "Add type annotations to the `Resampler` class"
Class location: third_party/3/pandas/core/resample.pyi

[2021-07-12 20:15] #16 closed

[2021-07-12 20:15] joannasendorek commented on #16
Closing with https://github.com/VirtusLab/pandas-stubs/pull/61

[2021-07-12 20:20] #48 closed

[2021-07-12 20:34] joannasendorek commented on #53
Hi @aholmes we have just added version bump commits into our repository. It should improve readability a lot. Do you think adding extra tags would be helpful too? What do you think about current solution, has it help?

[2021-07-12 21:03] aholmes commented on #53
Hi, the version bump commits might be useful, but I think in relation to this issue they are kind of duplicating the functionality of Git tags and GitHub releases. If the bump commit is intended to be a defining line for your PyPi releases, I would suggest also creating a Git tag from that. I think that would help with discoverability, in part because it's a standard part of Git. As for GitHub rel

[2021-07-13 08:44] #27 closed

[2021-08-18 12:07] miggec opened #63 "DataFrame.sort_values overload signature is incomplete with respect to the ascending argument"
python 3.6
pandas 1.1.5
pandas-stubs 1.2.0.1

The docs state that a list of bools is accepted for the `ascending` argument, but the stubs raise an error in that instance.

Minimal example of some (valid) code that fails type checking:

[code]

Output:
[code]

mypy error:
[code]

A workaround if you came here from a search engine:
[code]

[2021-08-20 13:25] joannasendorek commented on #63
Hi! Thank you for reporting an issue. Please see https://github.com/VirtusLab/pandas-stubs/pull/64 for a fix. It should be merged soon.

[2021-08-20 14:31] #63 closed

[2021-08-26 12:47] janosh opened #69 "df.rename(columns=...) does not accept dict variable"
[code]

The above minimal example raises what appears to be a false type error on the last line due to passing `columns=col_map`:

If instead I pass the dictionary as a literal value, the error disappears:

[code]

[2021-08-30 13:44] #69 closed

[2021-09-01 08:13] radohristov opened #71 "Pandas Timestamp object operations not recognized"
Hi there,

I have the following code:

import pandas as pd
pts: pd.Timestamp=pd.to_datetime("4-5-2019")

td: pd.Timedelta = pts-pts

Running mypy I'm getting the following error:
 pmypy.py:4: error: Unsupported left operand type for - ("Timestamp")

Python Version 3.9.4
pandas Version: 1.3.2
pandas-stubs Version: 1.2.0.11
mypy Version: 0.910

[2021-09-01 10:00] zkrolikowski-vl commented on #71
Hi @radohristov. This obviously invalid. I'll prepare a PR to fix that.

[2021-09-01 18:46] #15 closed

[2021-09-01 18:48] zkrolikowski-vl opened #73 "Updating stubs to pandas 1.3.2 version"

[2021-09-01 19:01] zkrolikowski-vl opened #74 "Check Python 3.10 compatibility"
Add it to tox environment list

[2021-09-02 07:22] janosh opened #76 "No stub for pd.json_normalize"
Based on findings in https://github.com/microsoft/pylance-release/issues/1738, it appears that this package is missing a stub for `pd.json_normalize`.

[2021-09-02 07:49] joannasendorek commented on #76
Thanks for reporting. I will prepare PR for that.

[2021-09-08 17:46] zkrolikowski-vl commented on #71
@radohristov Please consider if https://github.com/VirtusLab/pandas-stubs/pull/77 will help you

[2021-09-08 21:46] ivan-piskunov-cndt opened #78 "pandas.api.types.infer_dtype is not specified in stubs"
This import is valid due to the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.api.types.infer_dtype.html)
`from pandas.api.types import infer_dtype`
But `infer_dtype` is not listed in `typed/__init__.pyi` file

[2021-09-08 21:49] ivan-piskunov-cndt opened #79 "pd.DataFrame.eval returns pd.DataFrame"
[code]
As you can see above `pd.DataFrame.eval` also returns `pd.DataFrame`, [doc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.eval.html) is not so accurate in this case.

[2021-09-08 21:54] ivan-piskunov-cndt opened #80 "pd.Series[int] == int returns pd.Series[bool] not bool"
[code]
While mypy claims it returns scalar `bool`

[2021-09-09 06:27] zkrolikowski-vl commented on #78
Thanks @ivan-piskunov-cndt. Will have a fix soon

[2021-09-09 08:46] joannasendorek commented on #80
Hi! Thanks for reporting. I will prepare fix for it.

[2021-09-09 08:46] joannasendorek commented on #79
Hi! Thanks for reporting, I will prepare fix for the issue.

[2021-09-09 16:26] joannasendorek commented on #79
In this case, our definition for eval() is:

[code]

And DataFrame is subclass of PandasObject, so the annotation is correct. The problem here is that you get more general type, so if you need more specific one, you have to do the casting. For example:

df: DataFrame = cast(DataFrame, df.eval('b = a * 3'))

The same situation would occur if we extend Union[np.ndarray, int, float, PandasObject] wit

[2021-09-09 18:03] joannasendorek commented on #76
Hi @janosh, could you please see PR: #82 ? Are there any specific use cases you have in your project that we could add to our test snippets?

[2021-09-09 19:56] janosh commented on #76
Thanks, #82 looks great! `json_normalize` takes both a list of dicts (which you're testing) as well as a single dict. Not sure if that warrants additional testing but thought I'd mention it.

[2021-09-10 06:30] zkrolikowski-vl commented on #79
In order for mypy to distinguish between options for the return type it would have to actually evaluate the expression which to best of my knowledge is impossible with type stubs.

Unfortunately in this case we stumbled onto a limitation of Python static type analysis.

[2021-09-10 06:36] #80 closed

[2021-09-10 07:00] joannasendorek commented on #76
Hi! Thanks for suggestion, I added one case specifically for that.

[2021-09-10 09:55] ivan-piskunov-cndt commented on #79
Makes sense! Thank you and sorry for the false-alarm

[2021-09-10 09:55] #79 closed

[2021-09-10 10:06] janosh opened #83 "Incorrect return type in Series.to_dict()?"
Shouldn't this

https://github.com/VirtusLab/pandas-stubs/blob/f521cfb5a2bda425f20d96281999791b01d4833b/third_party/3/pandas/core/series.pyi#L105

be

[code]

[2021-09-10 10:28] janosh commented on #44
Small update: this minimal example still raises a type error with `pandas-stubs==1.2.0.1``:

[code]

Found 1 error in 1 file (checked 1 source file)

[2021-09-10 10:58] joannasendorek commented on #79
No problem, it was interesting to check how things work.

[2021-09-10 11:38] zkrolikowski-vl commented on #44
Sorry. I can see that this is still an issue.
mypy keeps using the wrong overloaded variant: https://github.com/VirtusLab/pandas-stubs/blob/f521cfb5a2bda425f20d96281999791b01d4833b/third_party/3/pandas/core/reshape/concat.pyi#L11

I'll see what we can do about it.

[2021-09-10 12:23] zkrolikowski-vl commented on #44
@janosh Made an ugly but inevitable fix: https://github.com/VirtusLab/pandas-stubs/pull/84 Could you check the test cases cover your use cases?

[2021-09-10 13:03] janosh commented on #44
@zkrolikowski-vl Thanks! Test cases do indeed cover my use case.

[2021-09-10 14:05] #44 closed

[2021-09-10 14:32] zkrolikowski-vl commented on #44
@janosh A new version 1.2.0.15 should already be available on PyPI and will be available on Conda Forge by Monday.

[2021-09-10 14:42] #76 closed

[2021-09-10 15:16] janosh commented on #44
Excellent! Fix confirmed. No more type errors on `df = pd.concat({"a": df})` and auto-completion for `pd.json_normalize` is also working. Thanks a lot!

[2021-09-10 15:18] joannasendorek commented on #83
Thanks again for your report. Will take a look

[2021-09-10 15:21] joannasendorek commented on #83
Seems like Mapping is suggested by pandas: https://github.com/pandas-dev/pandas/blob/v1.3.2/pandas/core/series.py#L1689-L1720

[2021-09-10 15:27] janosh commented on #83
Ah, my mistake. I find it a bit odd though that this would throw a type error on the last line

[code]

I mean I'm assigning the results of `to_dict()` to a `dict`...

[2021-09-10 15:29] janosh commented on #44
Sorry, I think I jumped the gun here. Still getting a type error on `pandas-stubs==1.2.0.16`:

![Screen Shot 2021-09-10 at 16 20 01](https://user-images.githubusercontent.com/30958850/132878708-77b6f89b-30bc-4405-b1bc-a076558adc7e.png)

[2021-09-16 20:32] TheBubblePopped opened #86 "mypy Cannot find implementation or library stub for module named "pandas" after installing it"
I use venv in combination with python 3.9

I installed it via pip with the activated venv environment.

[2021-09-17 07:44] joannasendorek commented on #86
Hi! Could you please provide logs and the commands you ran to install. Environment definitions would be welcome too. We need more information in order to reproduce your problem. Thanks!

[2021-09-22 17:19] zkrolikowski-vl opened #88 "Add type stubs for read_csv from pandas.io.parser"

[2021-09-22 17:19] zkrolikowski-vl opened #89 "Add type stubs for read_table from pandas.io.parser"

[2021-09-22 17:22] zkrolikowski-vl opened #90 "Add type stubs to `to_hdf` and `from_hdf` from `pandas.io.pytables`"

[2021-09-22 17:23] zkrolikowski-vl opened #91 "Add type stubs to `read_html` from `pandas.io.html`"

[2021-09-29 08:10] garg-tanishka commented on #88
Can you provide a brief description, please? Thankyou.

[2021-09-29 09:21] zkrolikowski-vl commented on #88
Description is definitely necessary here @garg-tanishka. Thanks for pointing it out.

The goal was to fill in the declaration for `read_csv` in `third_party/3/pandas/pandas/io/parsers.pyi` but [early this year](https://github.com/pandas-dev/pandas/commit/5d65e0a3092f3c30169d0c0a3d0227e985104a56#diff-533e60b782eeabfa0da1ec17e9e39873b59afc69d22a0b985e1a2fad8005dbd8) this file was split into multiple

[2021-10-01 07:29] AlesiRowland opened #92 "add __add__ for pd.Timestamp"
I'm getting a
[code]

When calling `pd.Timestamp("20200101") + BDay(1)`
When looking at the stub, there's no implementation for __add__, I might be being naive (new to stub libs), but I assume adding a stub for this method would resolve the error?

[2021-10-04 07:20] zkrolikowski-vl commented on #92
I had been working on a solution for a while: https://github.com/VirtusLab/pandas-stubs/pull/77

It's technically working but I get the following error for Python 3.6 and Python 3.7:
[code]

I'm planning to make it work but this issue blocks me.

[2021-10-04 08:00] zkrolikowski-vl commented on #92
I had a moment of clarity and fixed it. @AlesiRowland could you take a look at the test file https://github.com/VirtusLab/pandas-stubs/pull/77/files#diff-3e336eaaa7d457901c2337d6dc8c6809a911fde68439e160887da5642aacdf98 ? Let me know in the comments if there's any other case to cover.

[2021-10-05 16:51] zkrolikowski-vl commented on #92
This is fixed by: https://github.com/VirtusLab/pandas-stubs/pull/77

[2021-10-05 16:51] #92 closed

[2021-10-05 16:51] zkrolikowski-vl commented on #71
@radohristov Fixed by https://github.com/VirtusLab/pandas-stubs/pull/77

[2021-10-05 16:51] #71 closed

[2021-10-12 21:26] claudio-ebel opened #96 "Add "time" attribute to "DatetimeIndex""
The `time` attribute of `DatetimeIndex` seems not to be implemented.

Minimal working example:
[code]

Then executing `mypy tmp.py` results in

[code]

while the execution `python tmp.py` of the code works perfectly. Tested with

[code]

[2021-10-15 08:58] zkrolikowski-vl opened #102 "Move pandas._testing to a directory to reflect new organization"
pandas has reorganized it's modules. Reference commit: https://github.com/pandas-dev/pandas/tree/62d7a2433298c709b8554a435ab7dd006482730b/pandas

`_testing` module is now in a dedicated directory with it's own submodules. Our directory/module structure should be the same.

[2021-10-15 09:45] janosh opened #103 "pandas.api.types imports"
Importing from `pandas.api.types` causes `MypyError`

Minimal example:

[code]

[2021-10-18 07:25] joannasendorek opened #107 "Add type annotations for Windows and their methods."

[2021-10-21 14:47] janosh opened #111 "pd.concat() missing stubs for Iterable[Series]"
I'm getting:

[`pd.concat()`](https://pandas.pydata.org/docs/reference/api/pandas.concat.html) accepts lists of either `Series` or `DataFrames`.

[2021-10-21 20:47] andrewbutlerboudakiankce opened #112 "Timestamp in _libs.tslibs.timestamps missing to_py_datetime method"
Can you add the following definition to the Timestamp class:
`def to_pydatetime(self, warn: bool = ...) -> datetime: ...`

It's the same one from the official pandas repo

[2021-10-25 09:28] #112 closed, assigned to zkrolikowski-vl

[2021-11-03 10:37] nagrael2 opened #115 "More strict type for matrix multiplication"
When using in DataFrame `dot` or `@` pandas will return Series only when other is Series.
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dot.html

Same can be told about Series. Result of Series @ Series is Scalar, Series @ DataFrame is Series, Series @ array is array.
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dot.html

Reflected operands

[2021-11-12 04:32] aloysius-lim opened #118 "arg-type error with `itertuples(name=None)`"
`pandas.DataFrame.itertuples` allows `name=None`. But with the following code:

[code]

Mypy reports the following error:

[code]

[2021-11-12 07:42] zkrolikowski-vl commented on #118
Hi @aloysius-lim. Thank you for reporting. I've prepared a PR: https://github.com/VirtusLab/pandas-stubs/pull/119

[2021-11-15 09:41] zkrolikowski-vl commented on #118
@aloysius-lim The fix should be now out on PyPI, and on conda-forge later today.

[2021-11-15 09:47] #118 closed

[2021-11-16 12:16] edran opened #120 "Positional values for usecols in read_csv not allowed anymore"
Today I noticed that upgrading from `1.2.0.31` to `1.2.0.38` breaks our mypy checks with code that looks like:

[code]

Removing `usecols` fixes the issue, but positional indices are generally allowed by pandas: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html#pandas-read-csv

[2021-11-16 13:04] zkrolikowski-vl commented on #120
Hi @edran. Thanks for reporting this.

Could you share the mypy output, it's version and `pandas` version? I'm having difficulty replicating this.

[2021-11-24 16:16] ChiaraMC opened #121 "pd.drop() should accept Set"
`pd.drop()`  accepts both lists and sets (and possibly other iterables). So the following runs fine
[code]
but mypy raises an error:
`No overload variant of "drop" of "DataFrame" matches argument types "Set[int]", "bool"`

while this runs fine and mypy doesn't complain:
[code]
which seems strange.

I noticed that [here](https://github.com/VirtusLab/pandas-stubs/blob/43be82b762530d9c726d72d1d68f546

[2021-11-24 17:14] zkrolikowski-vl commented on #121
Hi @ChiaraMC. While passing `Set[str]` is undocumented, it just works.

Your intuition was correct and it works with `Iterable`.

Here's a PR for your consideration. We'll merge it soon and release a new version.
https://github.com/VirtusLab/pandas-stubs/pull/122/files

[2021-11-24 17:21] ChiaraMC commented on #121
Hi @zkrolikowski-vl amazing, thanks for the speedy reply!

[2021-11-25 09:30] zkrolikowski-vl commented on #121
@ChiaraMC  It's merge and a new version should be available on PyPI now and on coda-forge in a couple of hours.

Thanks for reporting. I hope to hear about more issues you have from you!

[2021-11-25 09:30] #121 closed

[2021-11-26 10:43] ChiaraMC commented on #120
Hello, here's the mypy output for the same issue:

[code]

Pandas version: 1.3.4, mypy version: 0.910

From the [read_csv stubs](https://github.com/VirtusLab/pandas-stubs/blob/e3f72642983308f3bd4dd506acd97173286bae63/third_party/3/pandas/io/parsers/readers.pyi):
[code]
I *think* Pandas' `ArrayLike` doesn't include Lists (wrapping the list in `np.array` removes the error).

[2021-12-16 13:16] janosh commented on #76
I forgot to mention `pd.json_normalize` can also take a `pd.Series` or `pd.DataFrame`. I often use this sort of operation:

[code]

if the elements in `df["output"]` are identically structured dicts and I want each key to end up as its own column in a new df.

[2021-12-30 18:45] lmar76 opened #123 "Unexpected keyword argument "closed" for "Interval""
As indicated in the official Pandas [documentation](https://pandas.pydata.org/docs/reference/api/pandas.Interval.html), `pandas.Interval` constructor accepts parameters:
- `left`
- `right`
- `closed`

The following code:

[code]

can be successfully executed:
[code]

however mypy trace the errors:
[code]

[2022-01-03 16:27] zkrolikowski-vl commented on #123
Hi @lmar76. Thanks for reporting.

Looks like we haven't had good typing coverage of Interval because it was declared in a .pyx format.

I've created a PR to amend. It'll be merged soon and then a new release will be made: https://github.com/VirtusLab/pandas-stubs/pull/124

Thanks again for finding this!

[2022-01-03 16:58] zkrolikowski-vl commented on #123
Version [1.2.0.40](https://pypi.org/project/pandas-stubs/1.2.0.40/) has been released. Feel free to download and run mypy again.

[2022-01-03 16:58] #123 closed

[2022-01-10 17:22] zkrolikowski-vl opened #126 "Reorganized tests to reflect pandas test file structure"
This is to allow for https://github.com/pandas-dev/pandas/issues/45252.

[2022-01-11 11:47] zkrolikowski-vl commented on #126
Doesn't seem necessary. pandas is ok with structure as-is.

[2022-01-11 11:47] #126 closed

[2022-01-11 19:30] BryceStevenWilley commented on #86
I ran into this as well, but resolved it. My issue was that while I installed `pandas-stubs` in the activated venv environment, I had installed mypy with `sudo apt install mypy` (probably from some tutorial when I was starting with mypy), so mypy wasn't seeing the pandas stubs. You should be able to see if your mypy is the correct one with `which mypy`, and it should be in the same venv folder tha

[2022-01-14 11:13] kakko3 opened #128 "Missing all method from Series"
Seems like there is no all method in series.pyi. Which means that for example the series.isnull().all() fails.

[2022-01-15 18:06] lmar76 opened #129 "Interval.left, Interval.right and max function: No overload variant of "max" matches argument types "object", "object""
Consider the following code:

[code]

`max()` built-in function works with Timestamps:

[code]

however mypy traces the following errors:

[code]

[2022-01-17 16:52] zkrolikowski-vl commented on #128
Hello @kakko3 and thanks for reporting this. PR for fixing this issue is open and will soon be merged: https://github.com/VirtusLab/pandas-stubs/pull/130

[2022-01-17 18:29] joannasendorek commented on #129
Hi @lmar76
Thanks for raporting the issue. Seems the issue was caused by `left` and `right` property of `Interval` not being a proper type. Here is the PR with fixes: https://github.com/VirtusLab/pandas-stubs/pull/131

[2022-01-17 19:43] joannasendorek commented on #115
Hi @nagrael2,
Thanks for reporting the issue. You can see PR with the fix: https://github.com/VirtusLab/pandas-stubs/pull/132

[2022-01-17 20:27] #129 closed

[2022-01-18 07:54] #128 closed

[2022-01-18 10:14] #115 closed

[2022-01-19 22:34] lmar76 commented on #129
@joannasendorek Thank you!

[2022-01-21 17:07] nahuelalmeira commented on #120
Hi @zkrolikowski-vl, I am experiencing the same error. Here is the output I get

`
test_usecols.py:3: error: No overload variant of "read_csv" matches argument types "str", "List[str]"
test_usecols.py:3: note: Possible overload variants:
test_usecols.py:3: note:     def read_csv(filepath_or_buffer: Any, sep: str = ..., delimiter: Optional[str] = ..., header: Union[int, List[int], str, None] = ...,

[2022-01-22 22:39] lmar76 opened #133 ""Interval" has no attribute "length""
Consider the following code:

[code]

Running mypy I get the following error:

[code]

[2022-01-24 12:19] joannasendorek commented on #133
Hi, @lmar76 thank you for your input. Seems like we have error which is Interval doesn't inherit from IntervalMixin. I am fixing it and will make PR soon.

[2022-01-24 12:26] zkrolikowski-vl commented on #120
Hi @nahuelalmeira. Thanks for bumping this issue up. The fix is simple enough but test cases don't work as expected. I'll try to open up a PR today.

[2022-01-24 12:36] #133 closed

[2022-01-25 10:20] lmar76 commented on #133
@joannasendorek thank you!

[2022-01-26 14:13] janosh opened #135 "Raise DataFrame and Series to power"
Unexpected `mypy` errrors

[code]

from

[code]

[2022-01-26 16:48] zkrolikowski-vl commented on #135
Hi @janosh. Thanks for reporting again!

Here's a PR with a fix: https://github.com/VirtusLab/pandas-stubs/pull/136. Hopefully we can release the fix soon,

[2022-01-27 19:55] PatrickBourdon opened #137 "pandas.DataFrame.merge signature - 'suffixes' parameter - expected type not compliant with documentation"
**Environment:**
  - Pandas-stubs: 1.2.0.45
  - Dev environment: VSCode 1.63.2, Pylance v2022.1.3
  - Python: 3.9.10 (tags/v3.9.10:f2f3f53, Jan 17 2022, 15:14:21) [MSC v.1929 64 bit (AMD64)] on win32
  - Platform: Windows-10-10.0.19042-SP0

**Issue:**
[Documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html?highlight=merge#pandas-dataframe-merge) for the suffixes pa

[2022-01-28 07:36] zkrolikowski-vl commented on #135
PR has been merged. Version 1.2.0.45 should now be available through pip and conda-forge.

[2022-01-28 07:36] #135 closed

[2022-01-28 08:19] janosh commented on #135
@zkrolikowski-vl Thanks! Fix confirmed.

[2022-01-30 09:44] janosh opened #138 "df.mean(1) cannot be float"
Quite an edge case but I wonder if the type hints could be improved here:

[code]

Type checker correctly infers `df` to be `Dataframe` but then incorrectly thinks `df.mean(1)` could yield a float or a Series. Taking the mean along the column dimension should always yield a series.

[2022-01-31 14:24] randolf-scholz opened #139 "`DataFrame.append` has bad dictionary index types"
`DataFrame.append` is annotated as

https://github.com/VirtusLab/pandas-stubs/blob/292a31f4e91ca13f362299277d9bd96ebe943ce1/third_party/3/pandas/core/frame.pyi#L224

where `Column` is defined as

https://github.com/VirtusLab/pandas-stubs/blob/292a31f4e91ca13f362299277d9bd96ebe943ce1/third_party/3/pandas/_typing.pyi#L98

This fails, for example, if we pass:

- `dict[int, float]`
- `dict[str, float]

[2022-01-31 14:53] joannasendorek commented on #138
Hi @janosh thanks for reporting. I will look into this issue and prepare PR.

[2022-01-31 16:27] janosh commented on #138
@joannasendorek I don't think the problem depends on the form of the dataframe. In any case, this triggers the error:

[code]

[2022-01-31 16:29] zkrolikowski-vl commented on #139
Hi @randolf-scholz. Thanks for taking a look at this.

I've prepared a PR but it might end up being extended: https://github.com/VirtusLab/pandas-stubs/pull/140

[2022-01-31 16:47] joannasendorek commented on #137
Hi @PatrickBourdon, thank you for reporting an issue. I have prepared the fix #141.

I also noticed that it doesn't need to be a Tuple, it can be any iterable, of length 2. This would be very problematic however, because there is no way to ensure constant length for other iterables, so I will leave it to accept only tuples.

[2022-02-01 08:32] #137 closed

[2022-02-01 09:03] zkrolikowski-vl commented on #139
@randolf-scholz It's merged and the fix should be on PyPI now and conda-forge soon.

[2022-02-01 09:03] #139 closed

[2022-02-07 03:17] Dr-Irv opened #142 "Is test_series:test_types_values incorrect?"
We're using the tests here with the Microsoft type stubs.  In `test_series.py`, you have:
[code]
The issue here is that `Series.values` can return a `np.ndarray` or an `ExtensionArray` .  Here's results of typing the 4 cases above:
[code]

So in your stubs and tests, for the `category` example, the test (and stubs) is incorrect, as it doesn't return a `np.ndarray`

And if you use the new string dt

[2022-02-11 15:05] ChiaraMC opened #143 "DataFrame.groupby level doesn't accept int"
Hello!

`pandas.DataFrame.groupby` takes the parameter `level` which according to the pandas docs can be an int. However, the current stubs require `Optional[Sequence[Union[Optional[Hashable], int]]]` which does not match a simple int.

To reproduce:

[code]
Error:
[code]

Versions:
Pandas: 1.3.5,  mypy: 0.910, pandas-stubs: 1.2.0.47

[2022-02-11 16:04] zkrolikowski-vl commented on #143
Hi @ChiaraMC. Thanks for reporting.

I've prepared a PR to fix this issue. Hopefully we'll be able to release a patch version soon.
https://github.com/VirtusLab/pandas-stubs/pull/144

[2022-02-11 16:30] zkrolikowski-vl commented on #142
Thanks for letting us know about it @Dr-Irv.

This is revelation, albeit negative. There are three solutions with increasing grades of difficulty:

- Make the return type `Any` so not be restrictive. Requires consciously doing a `cast` otherwise users will lose type safety.
- Make the return type a union of all possible return types (I assume that the amount is finite). This will require a `cast`

[2022-02-11 16:41] Dr-Irv commented on #142
@zkrolikowski-vl

I don't think the third option will work because even after you have constructed a `Series`, the type can change under the hood due to calculations.  E.g.:
[code]
In pandas, the return type of `values` is `ArrayLike` which is defined as `ArrayLike = Union["ExtensionArray", np.ndarray]` in `_typing.pyi` and in the MS stubs, we are defining `values` to return `ArrayLike` , which is

[2022-02-15 10:57] zkrolikowski-vl commented on #143
[New version](https://pypi.org/project/pandas-stubs/1.2.0.48/) has been released to PyPI. conda-forge release will follow.

Please let us know if you've come across any other issues. I'm closing this issue.

[2022-02-15 10:57] #143 closed

[2022-02-18 17:26] zkrolikowski-vl opened #146 "Bring pands_stubs CI standards as close as possible to pandas"
pandas_stubs snippets should be directly movable to pandas repository without causing issues with pre-commit hooks.

This is related to aspects like black, isort and file-endings, and is most easily-fixable by introducing pre-commit based on this configuration file: https://github.com/pandas-dev/pandas/blob/main/.pre-commit-config.yaml

[2022-02-18 17:34] zkrolikowski-vl opened #147 "Automate pandas PR/branch creation based on snippet changes"
Whenever a change is made to test snippets those changes should be integrated into pandas repository.

Automate this as much as possible, even if it was to be semi-automatic.

[2022-03-01 13:22] ste-pool opened #148 "DataFrame to_dict more specific"
Hello 👋 First off, thanks for the library! It's helped uncover some issues 🙂

I was wondering if it would be possible to tweak the DataFrame's to_dict [signature](https://github.com/VirtusLab/pandas-stubs/blob/master/third_party/3/pandas/core/frame.pyi#L130)? As I'm having to have quite a few asserts/castings in my code to get the point that to_dict("records") should return a list according to the

[2022-03-01 13:43] zkrolikowski-vl commented on #148
Hi @ste-pool. Thanks for using pandas_stubs!

Your proposition looks great. I'll be happy to review a PR (please do include snippet tests).

[2022-03-08 17:32] janosh opened #149 "`mypy` error for `pd.concat(dict[str, Dataframe])`"
`pd.concat()` takes a mapping of both Series and Dataframe but is currently typed to accept only Series:

[code]

[2022-03-14 11:01] zkrolikowski-vl commented on #148
@ste-pool I've taken the liberty of merging your PR. It should be available on PyPI shortly and on conda-forge in a couple of hours.

[2022-03-14 12:05] ChiaraMC opened #151 "pd.Timedelta should accept kwargs"
Hello!

According to the docs for `pd.Timedelta` (https://pandas.pydata.org/docs/reference/api/pandas.Timedelta.html) we can do, for example:

[code]
which is equivalent to:
[code]

However, the current stubs accept the second version but not the first version, which instead gives:
`error: Missing positional argument "value" in call to "Timedelta"`

Same thing happens using for example "days".

Ve

[2022-03-16 14:26] johanvergeer opened #152 "`mypy` issue when value of the dict passed to `from_dict()` are scalars"
When a scalar value is used in the dict that is passed to `from_dict()`, then mypy will raise an error, while Pandas can handle this input just fine.

[code]

Would it be better to change the stubs for `from_dict()` to also allow scalars?

I did have a look at the `pandas._typing` module, which contains some definitions for scalars, but that doesn't seem to include numpy types.

[code]

[2022-03-16 16:59] zkrolikowski-vl commented on #149
Hi @janosh. Looks like it's not matching an appropriate declaration:
[code]

I'll try to workout why this is happening.

[2022-03-16 19:24] zkrolikowski-vl commented on #149
After some experimenting I've come to a conclusion that mypy exhibits a strange behaviour:
-  when passed `Mapping[Optional[Hashable], DataFrame]` as a variable it won't be able to find an appropriate overloaded declaration
-  when passed the same value is  as an expression it works correctly

I'm forced to use `Any` instead of `Optional[Hashable]`. It allows for False Negatives but avoids False P

[2022-03-16 20:26] janosh commented on #149
@zkrolikowski-vl Thanks. The new tests look good. 👍

[2022-03-17 07:10] zkrolikowski-vl commented on #149
It's merged and version 1.2.0.51 on PyPI! Conda-forge will follow this afternoon.

Closing the issue.

[2022-03-17 07:10] #149 closed

[2022-03-17 19:39] zkrolikowski-vl commented on #151
Hi @ChiaraMC! Thanks for reaching out.

Stubs for timedelta are still largely incomplete and mostly based of datetime.timedelta. The gap included using keyword arguments for the constructor.

I've created a PR to add this support: https://github.com/VirtusLab/pandas-stubs/pull/155 It'll soon be merged.

There are still more gaps - they'll be filled as we go along but please open an issue if you en

[2022-03-17 19:42] zkrolikowski-vl commented on #151
Version 1.2.0.52 released with a fix.

[2022-03-17 19:42] #151 closed

[2022-03-18 10:05] ChiaraMC commented on #151
I see, thanks for fixing this!

[2022-03-18 15:58] AchmadFathoni opened #156 "Pyright detect error when accesing dataframe from conditional creation"
Using pandas-stub 1.2.0.50 and pyright  1.1.230
[code]
At last line I get `Argument of type "list[str]" cannot be assigned to parameter "key" of type "slice" in function "__getitem__"    "list[str]" is incompatible with "slice"`. Deleting `df = df[df.index > 0]` will suppress the error. Should I report to pyright instead?

[2022-03-23 15:39] bersbersbers opened #157 ""Value of type "Callable[[], Any]" is not indexable" for pd.MultiIndex.levels"
`bug.py`
[code]

[code]

[2022-03-23 15:41] bersbersbers commented on #157
Interestingly, `mypy` is fine with this one:

[code]

[2022-03-28 17:08] zkrolikowski-vl commented on #157
Hi @bersbersbers. Sorry for taking my time to have a look at this.

I've prepared a fix. Once the CI passes I'll merge it: https://github.com/VirtusLab/pandas-stubs/pull/158

[2022-03-28 17:09] #157 closed

[2022-03-28 17:13] zkrolikowski-vl commented on #157
Version 1.2.0.53 includes the fix. Please reopen the issue if you re-encounter this problem.

[2022-03-29 08:42] bersbersbers commented on #157
Thanks a lot, that was superquick :)

[2022-03-31 18:37] zkrolikowski-vl opened #160 "Integrate pyright into the CI"
During the stubs testing pyright should be ran in the same way as mypy is ran.

[2022-03-31 18:59] zkrolikowski-vl commented on #156
Hi @AchmadFathoni.

I've managed to replicate the problem - it only occurs in pyright.

As you're most likely correct pandas_stubs can be used with pyright however it's not being tested on the development. https://github.com/VirtusLab/pandas-stubs/issues/160

Even without a CI I'll take this on as a one-off.

[2022-04-01 04:03] AchmadFathoni commented on #156
Thank you, It is fixed.

[2022-04-01 04:03] #156 closed

[2022-04-01 07:40] zkrolikowski-vl commented on #83
Fixed in 1.2.0.54

[2022-04-01 07:40] #83 closed

[2022-04-03 08:36] claudio-ebel opened #162 ""DatetimeIndex" has no attribute "strftime""
### Minimal working example
[code]
### Behaviour
mypy emits error:
[code]
execution works:
[code]
### Versions
[code]

[2022-04-04 16:05] thomas-intellegens opened #163 "Assigning to a dataframe causes type error"
Assigning to a DataFrame's index property now raises a type error. The behaviour of doing so is documented (https://pandas.pydata.org/docs/user_guide/indexing.html#adding-an-ad-hoc-index), so I would expect no type error.

[code]

This appears to have been introduced in #161 by not providing a setter to go with the property.

Tested on pyright 1.1.235, mypy 0.910 and PyCharm 2021.3.3 against pytho

[2022-04-05 18:39] zkrolikowski-vl commented on #163
Hi @thomas-intellegens and thanks for correct diagnosis.

I've created a fix https://github.com/VirtusLab/pandas-stubs/pull/165 Version [1.2.0.56](https://github.com/VirtusLab/pandas-stubs/commit/545fae0770e3eacf5dfe17588f3a79cd7d27819d) which included this fix will be released momentarily.

Feel free to open more issues for any problems you encounter. Thanks again!

[2022-04-05 18:39] #163 closed

[2022-04-11 16:15] thomas-intellegens opened #166 "Type of DataFrame.select_dtypes doesn't permit scalars"
DataFrame.select_dtypes currently only accepts iterables of types, where the pandas also permits it to be a scalar type (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.select_dtypes.html).

[code]

Tested with mypy 0.910, pyright 1.1.236 and PyCharm 2021.3.3 against python 3.8.10 on Ubuntu 20.04.4 LTS.

mypy

[code]

pyright
[code]
pycharm
[code]

[2022-04-11 19:05] zkrolikowski-vl commented on #166
Hi @thomas-intellegens. Thanks for reporting a problem again.

Please consider if: https://github.com/VirtusLab/pandas-stubs/pull/167 covers your use case.

[2022-04-13 10:34] zkrolikowski-vl commented on #166
Merged the PR. Closing the issue

[2022-04-13 10:34] #166 closed

[2022-04-13 10:37] thomas-intellegens commented on #166
Many thanks for responding so promptly, this is great.

[2022-04-14 04:00] hwchase17 opened #168 "error: Module has no attribute "is_numeric_dtype" [attr-defined]"
this is caused by
[code]

using
[code]

and

[code]
on mac M1

[2022-04-14 10:06] AchmadFathoni opened #169 "No overload variant of "rename" of "Series" from df that pct_change() return"
Example code:
[code]
mypy analysis
[code]
mypy: 0.942, pandas-stub 1.2.0.58

[2022-04-21 08:05] rogalski opened #170 "read_csv "names" argument to not support lists as array-like types"
https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

Repro:
[code]

Yes, `pandas-stubs` type hints claims:
[code]

Current annotation: `names: Union[ExtensionArray, ndarray[Any, Any], None] = ...,`
Suggestion: expand annotation to allow `List[str]` (or `List[Any]`)

[code]

[2022-04-21 08:20] rogalski commented on #170
Same pattern applies to `usecols` argument of read_csv

[2022-05-09 18:51] Dr-Irv opened #172 "Future: pandas team to provide pandas-stubs"
The pandas team has taken the work done here and the work done by Microsoft at https://github.com/microsoft/python-type-stubs/tree/main/partial/pandas and have created a new project https://github.com/pandas-dev/pandas-stubs that will eventually become the official pandas stubs supported by the pandas core team.

We anticipate creating a release on pypi and conda by the end of June, 2022.

A big t

[2022-05-11 16:29] BrenoJesusFernandes commented on #172
That's incredible! Are you guys will support just the newer versions or the older versions too?

[2022-05-11 16:34] Dr-Irv commented on #172
By "you guys", I think you mean the pandas core team.  If so, we still have to figure out a support policy with respect to old/new versions, but most likely the first release will support only the latest version of pandas (currently 1.4.2).  We will also have version numbers of the stubs, so, for example, if we release a stubs version compatible with 1.4.2, and then a pandas release of 1.5, and th

[2022-05-11 17:42] blakeNaccarato commented on #170
This also happens when passing a list to the `skiprows` parameter. Sorry if I'm cluttering this issue, should it be handled here or as a separate Issue?

In summary of previous comments, this is happening in the `usecols`, `names`, and `skiprows` parameters. Is it happening anywhere else as well, or is it confined to `read_csv`?

[2022-05-30 06:47] nlyf opened #173 "to_markdown wrong hint"
Hi, as I can see pandas.dataframe.[to_markdown ](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_markdown.html)returns str

Why do we have return type [Optional](https://github.com/VirtusLab/pandas-stubs/blob/6ddb27f7c7f77d27f83beaba03ce5b86314cc04e/third_party/3/pandas/core/series.pyi#L125)[str]? Is this a little bug?

[2022-06-03 07:16] zkrolikowski-vl commented on #170
@rogalski  Although this repository will soon be deprecated and pandas-stubs development will move to a [in-house pandas repository ](https://github.com/pandas-dev/pandas-stubs) I've prepared a fix for the original problem:
https://github.com/VirtusLab/pandas-stubs/pull/171

If you don't have any objections I'll merge this PR and then fix the remaining columns as part of the same issue.

[2022-06-03 10:44] zkrolikowski-vl commented on #172
Please consider this PR: https://github.com/VirtusLab/pandas-stubs/pull/175

[2022-07-01 15:26] zkrolikowski-vl commented on #74
Closing this PR as pandas-stubs has moved to another repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

[2022-07-01 15:26] zkrolikowski-vl commented on #73
Closing this PR as pandas-stubs has moved to another repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs
Version is already beyond 1.3.2

[2022-07-01 15:26] #73 closed

[2022-07-01 15:27] zkrolikowski-vl commented on #60
Closing this PR as pandas-stubs has moved to another repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

[2022-07-01 15:27] #60 closed

[2022-07-01 15:27] zkrolikowski-vl commented on #59
Closing this PR as pandas-stubs has moved to another repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

[2022-07-01 15:34] zkrolikowski-vl commented on #53
Planned to include tags and released in the CI but never got the PR merged.

Closing this PR as pandas-stubs has moved to another repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

The new repository doesn't include tags but I can't imagine not adding them at some point.

[2022-07-01 15:34] #53 closed

[2022-07-01 15:34] zkrolikowski-vl commented on #47
Closing this PR as pandas-stubs has moved to another repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

[2022-07-01 15:34] #47 closed

[2022-07-01 15:39] zkrolikowski-vl commented on #78
No solution was delivered but pandas-stubs has moved to another repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

Not sure if that's fixed there. You can try it out by
[code]

Closing. Feel free to open it up in the new repository if newest version hasn't fixed that.

[2022-07-01 15:58] zkrolikowski-vl commented on #86
pandas-stubs has moved to another repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

Closing.

[2022-07-01 15:58] #86 closed

[2022-07-01 15:59] zkrolikowski-vl commented on #88
pandas-stubs has moved to another repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

Closing.

[2022-07-01 15:59] zkrolikowski-vl commented on #89
pandas-stubs has moved to another repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

Closing.

[2022-07-01 15:59] zkrolikowski-vl commented on #90
pandas-stubs has moved to another repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

Closing.

[2022-07-01 15:59] #90 closed

[2022-07-01 15:59] zkrolikowski-vl commented on #91
pandas-stubs has moved to another repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

Closing.

[2022-07-01 15:59] #91 closed

[2022-07-01 16:04] zkrolikowski-vl commented on #96
No solution was provided but pandas-stubs has moved to another repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

You might try using the newest version `pip install pandas-stubs==1.4.2.220626` which comes from that repository.  If it doesn't work please considering opening an issue in the new repository.

[2022-07-01 16:04] #96 closed

[2022-07-01 16:05] zkrolikowski-vl commented on #102
pandas-stubs has moved to another repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

[2022-07-01 16:13] aholmes commented on #53
Great, thank you for the update. Think I should open the same issue there? :)

[2022-07-01 16:45] zkrolikowski-vl commented on #103
No solution was provided for problem but pandas-stubs has moved to another repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

You might try using the newest version `pip install pandas-stubs==1.4.2.220626` which comes from that repository.  If it doesn't work please considering opening an issue in the new repository.

[2022-07-01 16:46] zkrolikowski-vl commented on #53
Yes. Hopefully with faster resolution :D

[2022-07-01 16:51] zkrolikowski-vl commented on #107
pandas-stubs has moved to another repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

[2022-07-01 16:51] #107 closed

[2022-07-01 16:51] zkrolikowski-vl commented on #111
No solution was provided for problem but pandas-stubs has moved to another repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

You might try using the newest version pip install pandas-stubs==1.4.2.220626 which comes from that repository. If it doesn't work please considering opening an issue in the new repository.

[2022-07-01 16:51] #111 closed

[2022-07-01 16:52] zkrolikowski-vl commented on #120
In the end I wasn't able to fix it but pandas-stubs has moved to new repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

You might try using the newest version pip install pandas-stubs==1.4.2.220626 which comes from that repository. If it doesn't work please considering opening an issue in the new repository.

[2022-07-01 16:52] #120 closed

[2022-07-01 16:53] zkrolikowski-vl commented on #138
pandas-stubs has moved to new repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

You might try using the newest version pip install pandas-stubs==1.4.2.220626 which comes from that repository. If it doesn't work please considering opening an issue in the new repository.

[2022-07-01 16:53] #138 closed

[2022-07-01 16:53] #142 closed

[2022-07-01 16:53] zkrolikowski-vl commented on #146
pandas-stubs has moved to new repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

[2022-07-01 16:53] #146 closed

[2022-07-01 16:53] zkrolikowski-vl commented on #147
pandas-stubs has moved to new repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

[2022-07-01 16:53] #147 closed

[2022-07-01 16:54] zkrolikowski-vl commented on #152
pandas-stubs has moved to a new repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

You might try using the newest version pip install pandas-stubs==1.4.2.220626 which comes from that repository. If it doesn't work please considering opening an issue in the new repository.

[2022-07-01 16:54] #152 closed

[2022-07-01 16:54] zkrolikowski-vl commented on #160
pandas-stubs has moved to new repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

[2022-07-01 16:54] #160 closed

[2022-07-01 16:54] zkrolikowski-vl commented on #162
pandas-stubs has moved to a new repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

You might try using the newest version pip install pandas-stubs==1.4.2.220626 which comes from that repository. If it doesn't work please considering opening an issue in the new repository.

[2022-07-01 16:54] #162 closed

[2022-07-01 16:55] zkrolikowski-vl commented on #168
pandas-stubs has moved to a new repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

You might try using the newest version pip install pandas-stubs==1.4.2.220626 which comes from that repository. If it doesn't work please considering opening an issue in the new repository.

[2022-07-01 16:55] #168 closed

[2022-07-01 16:55] zkrolikowski-vl commented on #169
pandas-stubs has moved to a new repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

You might try using the newest version pip install pandas-stubs==1.4.2.220626 which comes from that repository. If it doesn't work please considering opening an issue in the new repository.

[2022-07-01 16:55] #169 closed

[2022-07-01 16:56] zkrolikowski-vl commented on #170
pandas-stubs has moved to a new repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

If the problem persists you might try using the newest version via `pip install pandas-stubs==1.4.2.220626`. If it doesn't work please considering opening an issue in the new repository.

[2022-07-01 16:56] #170 closed

[2022-07-01 16:56] #172 closed

[2022-07-01 16:56] zkrolikowski-vl commented on #173
pandas-stubs has moved to a new repository and will now be managed alongside pandas itself: https://github.com/pandas-dev/pandas-stubs

You might try using the newest version `pip install pandas-stubs==1.4.2.220626` which comes from that repository. If it doesn't work please considering opening an issue in the new repository.

[2022-07-01 16:56] #173 closed

[2022-07-02 01:59] AchmadFathoni commented on #169
Yeah It solved in latest version. Thank you

[2022-09-20 03:44] nyngwang commented on #59
Just want to let people know that before pandas version 1.5.0 (installed via conda-forge) the problem has not been resolved. The `groupBy` API was not showing in the completion menu of data-frame: (see my comment: https://github.com/microsoft/pyright/issues/735#issuecomment-1141037120)

<img src="https://user-images.githubusercontent.com/24765272/170982153-74d932fa-a104-4186-a366-22a5459debdd.png"